#login h1 a {
background: url("images/logo1.png") no-repeat !important;
width: 270px !important
}
body{
	background: url("images/nen.jpg");
	background-size: cover;
}
#nav a,#backtoblog a{
	color: black !important;
}