/*
Theme Name: Web Khoi Nghiep
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.div-text-lien-he i{
        background: #D8D8D8;
    padding: 7px;
    border-radius: 50%;
}
.row-text-lien-he{
    font-size: 13px;
}
.row-duoi-banner .icon-box-text p{
    margin-bottom: 0px;
}
.row-duoi-banner .icon-box-text .p-dau{
    padding-top: 7px;
}

.cam-ket-div .left-image {
    float: left;
    width: 20%;
}
.left-image i {
    font-size: 39px;
    color: #2C9310;
}
.cam-ket-div .text-list-opt {
    float: left;
    width: 80%;
}
.entry-content{
    padding-top: 0px;
}
.tagcloud a{

    line-height: 30px;
    font-size: 13px !important;
    /* padding-bottom: 61px !important; */
    /* margin-bottom: 20px !important; */
    background: #D8D8D8;
    padding: 5px 9px;
    /* margin: 0px !important; */
}

.section-form-home .form-lien-he .tieu-de-form{
    font-size: 17px;
    font-weight: bold;
}
.section-form-home .form-lien-he .form-title{
    padding: 15px 0px;
}
.section-form-home .form-lien-he .form-title input,.section-form-home .form-lien-he .form-title textarea{
    border: none;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #C8C8C8;
}
 .form-lien-he .wpcf7-submit{
     border-radius: 24px;
    padding: 5px 28px; 
}
.nut-gui{
    text-align: center;
}
  
.section-form-home .form-lien-he{
        text-align: center;
    padding: 10px 20px;
    }
.section-du-an .portfolio-box .box-text {
    display: none;
}
#portfolio-content{
    padding-top: 0px;
}
.div-por-trai {
      background: #F1F1F1;
}
.div-por-trai .col-inner{
  
    padding: 13px !important;
}
.section-xin-chao .div-hinh .img-inner {
    /* -webkit-box-shadow: -19px 40px 0px -36px #2980b9; */
    -moz-box-shadow: -36px 31px 0px -45px #2980b9;
    /* box-shadow: -45px 39px 0px -32px #2980b9; */
    -webkit-box-shadow: -77px 77px 0px -66px #2980b9;
    -moz-box-shadow: -77px 77px 0px -66px #2980b9;
    box-shadow: -77px 77px 0px -66px #2980b9;
}
.box-text .cat-label{
        text-align: center;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    color: black;
    border: 2px solid #2980b9;
    padding: 7px;
    margin-bottom: 11px;
}
.section-khach-hang .button .icon-plus{
          border: 2px solid;
    padding: 4px;
    border-radius: 5px;
}
.row.row-small {
    max-width: 1170px;
}
a.back-to-top{
    padding: 0px 10px !important;
    border-radius: 0px !important;
    background: #2980b9 !important;
    color: white;
    border: none !important;
        bottom: 150px;
}
a.back-to-top i{
        font-size: 33px !important;
}
.flickity-page-dots{
    bottom: -5px;
}
.portfolio-bottom .next-prev-nav{
    background: #2980b9;
    padding: 8px;
    width: 38%;
    border: none !important;
    margin: auto;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio-bottom .next-prev-nav a:hover{
    color: white;
}
.text-por-related{
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 11px;
    text-align: right;
}
.text-por-related h3{
    color: #2980b9;
    text-transform:uppercase;
}
.text-por-related i.icon-plus{
        border: 2px solid #2980b9;
    padding: 2px;
    border-radius: 4px;
}
.portfolio-bottom .next-prev-nav .text-left{
text-align: right;
    padding-right: 10px;
}
.portfolio-bottom .next-prev-nav .text-right{
    text-align: left;
    padding-left: 10px;
}
.section-dich-vu .flickity-page-dots .is-selected,.section-du-an .flickity-page-dots .is-selected,.section-khach-hang .flickity-page-dots .is-selected,.section-doi-ngu .flickity-page-dots .is-selected{
        background: #2980b9 !important;
    border-color: #2980b9 !important;
    width: 24px !important;
    border-radius: 24px !important;
}
.section-dich-vu .flickity-page-dots .dot,.section-du-an .flickity-page-dots .dot,.section-khach-hang .flickity-page-dots .dot{
        border-color: #9B9B9B;
    background: #9B9B9B;
}
.error404 #header{

    position: absolute;
}
.section-doi-ngu .flickity-page-dots .dot{
        border-color: #9B9B9B ;
    background: #9B9B9B ;
    opacity: 1;
}
.section-doi-ngu .flickity-page-dots{
    bottom: -18px !important;
}
.section-loi-ich .icon-box-text{
    padding-top: 30px;
}
.section-loi-ich .icon-box{
    padding-bottom: 15px;
}
.error404 #header{

    position: absolute;
}
.error404 .stuck,.error404 .stuck .header-bg-color{

background: white !important;
}

.error404 .header-wrapper,.error404 .header-bg-color{
    box-shadow: none;
    background-color: transparent !important;
    background-image: none !important;
}
.section-du-an .nav>li>a, .nav-dropdown>li>a, .nav-column>li>a{
    color: white;
}
.section-du-an .portfolio-element-wrapper .col{
    padding: 5px;
}
.section-du-an .nav>li>a:hover, .section-du-an .nav>li.active>a, .section-du-an .nav>li.current>a, .section-du-an .nav>li>a.active, .section-du-an .nav>li>a.current,.section-du-an .nav-dropdown li.active>a, .section-du-an .nav-column li.active>a, .section-du-an .nav-dropdown>li>a:hover,.section-du-an .nav-column li>a:hover{
    color: yellow;
}
.section-du-an .box-text ,.portfolio-related .box-text {bottom: unset;
        text-align: left;
    top: 20px;
    font-size: 17px;
}
.square-icon{
    position: absolute;
    text-align: right;
    bottom: 20px;
    right: 11px;
}
.square-icon .fa-s{
        border: 2px solid white;
    padding: 18px;
}
.du-an-con{
    padding-bottom: 20px;
}
.du-an-con .box-image:hover span.hover-span{
    z-index: 1;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    opacity: 1.4;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
.du-an-con .box-image:hover span.hover-span i{
    display: block;
}
.du-an-con .box-image span.hover-span i{
    display: none;
    opacity: 1;
    color: #FFFFFF;

    font-size: 15px;
    height: 40px;
    left: 50%;
    line-height: 36px;
    border: 2px solid;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    z-index: 111;}
.absolute-footer {
 
    padding: 10px 0 10px;
    font-size: .9em;
    color: white !important;
}
.footer-1{
    margin-top: 20px;
   border-bottom: 12px solid black; 
}
.footer-1 .row{
        border-bottom: 1px solid #8D8D8D;
}
.section-lien-he .wpcf7-submit{
    background: black;
}
.section-lien-he i{    border: 3px solid black;
    color: black;
    padding: 5px;}
#week_3, #week_4 {
    width:200px;
    height:200px;
    border:2px solid #2980b9;
    float:left;
}
.lien-he-price{
    color: #2980b9;
}

.section-du-an img:hover{
    filter: none ;
}
.section-du-an .row.row-collapse{
max-width: 1920px;
}
.flex-right ul li a{
	text-transform: uppercase !important;
	font-size: 14px;
 
}
.dark .is-divider{
    background: transparent;
}
.post-title {
    min-height: 54px;
}
.section-doi-ngu .post-title{
    min-height: unset;
}
.section-doi-ngu .box-text{
        bottom: unset;
    text-align: center;
    top: 40%;
    font-size: 17px;
}
.div-quy-trinh .col-inner{
    min-height: 445px;
        background: #F5F5F4;
    padding: 40px;
}
.div-quy-trinh p{
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}
.div-nhan-su{
    padding-top: 50px;
}
.is-divider{
   background: transparent;
}
.title-nhan-su{
    padding-bottom: 30px;
}
.col-nhan-su .entry-header-text{
    padding-bottom: 0px
}
.page-template-page-blank-php #wrapper{
    background: black;
}
.section-yeu-cau .col{
    padding-bottom: 0px;
}
.khach-hang-detail .testimonial-box {
        border-bottom: 2px solid #BABABA;
}
.section-yeu-cau {
    padding-top: 45px !important;
}
.section-yeu-cau p{
    margin-bottom: 0px;
}
.section-xin-chao .gallery-box .text-left{
    display: none;
}
/*Màu sắc button*/
.social-button, .social-icons .button.icon:not(.is-outline), .social-icons .button.icon:hover {
    background-color: currentColor !important;
    border-color: currentColor !important;
}

.single-date{
        border-bottom: 1px dashed #ededed;
}
.entry-header-text{
    padding-bottom: 0px;
}
h1.entry-title{
    font-size: 24px !important;
}
.nut-share-dau .social-icons{
    font-size: 15px;
}
.nut-share-dau{
    padding-top: 10px;
}
.nut-share-dau i{

    font-size: 15px;
}
.navigation-post .nav-previous,.navigation-post .nav-next{
    width: 67%;
}
/*Kết thúc màu sắc*/



footer.entry-meta {

    border-top: none !important;
    border-bottom: 1px dashed #ececec !important;
    
}

.entry-content img{
	width: auto !important
}
.duong-line {
    background: rgba(0,0,0,0) url(images/line.png) repeat scroll 0 0;
    height: 12px;
    margin-top: 5px;
    overflow: hidden;
}
.related-post h7{
	font-weight: bold;
	    font-size: 18px;
    float: left;
    margin: -8px 20px 0 0;
}
.section-banner .text-dau .a br{
    display: none;
}
.section-banner .text-dau a {
    text-transform: inherit;
    line-height: 42px;
    border-radius: 99px;
    min-height: 10px;
    font-size: 20px;

    font-weight: normal;
}
.error404 #wrapper{
    background: black
}
.breadcrumbs .breadcrumb_last{
    color: #2980b9
}
.nav-pagination>li>span, .nav-pagination>li>a{
    border-radius: 0 !important; 
}
.nav-pagination>li:hover{
    background: #9B9B9B !important;
}
.nav-pagination>li .current{
    background: #9B9B9B !important;
    border-color:#9B9B9B !important; 
}
.archive .blog-wrapper{
    padding-top: 0px;
}
.blog-single{
    padding-top: 0px;
}
.blog-single .article-inner{
    box-shadow: none;
    background: #F5F5F4;
} 
.tieu-de-lien-quan{
    font-size: 24px;
    text-align: center;
}
.section-cham-ngon .testimonial-box {
    color: white;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.section-cham-ngon .testimonial-text p,.section-cham-ngon .testimonial-text h3{
    color: white;
}
.section-cham-ngon .icon-box-text i.fa{
    color: #2980b9;
}
.section-cham-ngon .slider-wrapper .flickity-page-dots .is-selected{
width: 15px;
    border-color: #2980b9 !important;
    background: #2980b9 !important;
    border-radius: 0px;
    height: 0px;
    margin: 2px;
    border: 1px solid #2980b9 !important;
}
.section-cham-ngon .slider-wrapper .flickity-page-dots .dot{
     border-color: white;
    background: white;
    border-radius: 0px;
    height: 0px;
    margin: 2px;
    border: 1px solid white;
}
.form-dang-ky {
    padding: 10px;
    background: #4A4A4A;
    text-align: center;
    color: white;
}
.form-dang-ky .p-dang-ky{
    text-transform: uppercase;
}
.form-dang-ky .p-phu{
font-size: 11px;
}
.is-divider {
    height: 3px;
 
    margin: 1px 0 1px;
   }

.nut-por{
    display: none;
}
.portfolio-box:hover .nut-por{
    color: white;
    text-align: left !important;
    padding: 5% 19%;
    background: #0e89abba;
    bottom: unset;
    /* text-align: center; */
    top: 40%;
    font-size: 17px;
    position: absolute;
    text-transform: uppercase;
    display: block !important
}
.home #top-bar,.error404 #top-bar{
    display: none;
}
.header-nav-main li.active a,.header-nav-main li.current-menu-item a{
        color: #2980b9;
}
.header-nav-main li:hover a{
    color: #2980b9;
}
.has-transparent .header-nav-main .header-block-block-1{
    display: block !important;
}
.header-nav-main .header-block-block-1{
    display: none;
}
.header-block-block-1 i{
    color: white;
    padding: 4px 7px;
}
.stuck .header-block-block-1{
    display: none;
}
.header-block-block-1 i:hover{
  padding: 4px 7px;
    background: #2980b9;
    border-radius: 50%;
}

.header-nav-main li.active a:before,.header-nav-main li.current-menu-item a:before{
margin-top: 12px !important;
    background: #2980b9;
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
}
.has-transparent .header-nav-main li.active a{
    color: #2980b9;
}
.has-transparent .header-nav-main li:hover a{
    color: #2980b9;
}
.info-top i{
    font-size: 16px;
}
.info-top .phone-top{
    color:  #2980b9;
}
.div-phone a{
    font-size: 12px !important;
    margin-right: 15px;
}
.div-phone i.fa-skype{
        padding: 3px;
    background: #2980b9;
    color: white;
    border-radius: 50%;
}
.chi-tiet-trang{
    display: none;
}
.chi-tiet-trang p{
       font-size: 14px;
}
.section-hang-muc h4:hover{
   color:  #2980b9;
}
.section-hang-muc .box:hover .chi-tiet-trang p{
    color: white;
}
.section-hang-muc .box:hover .chi-tiet-trang{
 
    color: white;
    text-align: left !important;
    padding: 5% 19%;
    background: rgba(170,6,32,0.8);
    bottom: unset;
    /* text-align: center; */
    top: -100px;
    font-size: 17px;
    position: absolute;
    text-transform: uppercase;
    display: block !important;
}
  .text-chu-doc .chu-phai{
        font-size: 17px;
            padding-left: 19px;
    border-left: 4px solid #2980b9;
    }

.chi-tiet-trang a{
    color: white;
}
.chi-tiet-trang br{
    display: none;
}
.blog-archive{
    padding-top: 0px;
}
@media(max-width: 667px){
     .section-banner .text-dau i{
        padding-left: 10px;
     }
    .section-banner .text-dau a {
   
    line-height: 39px;

    font-size: 13px;

}
    .section .banner .text-box h1{
        font-size: 20px;
    }
    .section-yeu-cau p {
    text-align: center !important;
    margin-bottom: 10px;
}
    .section-yeu-cau .col{
        text-align: center;
    }
    #header .show-on-scroll,#header .stuck .header-main {
    height: 59px !important;
}
    #header .stuck #logo img {
    max-height: 50px!important;
}
.transparent #logo img {
    max-height: 61px !important;
}
.transparent .header-main {
    height: 59px !important;
}

}
@media(max-width: 769px){
        .text-dau p,.text-dau h1{
        text-align: center !important;
    }
    .header-wrapper{
        background: rgba(255,255,255,1) !important
    }
  .header-wrapper #logo .header-logo-dark{
    display: none !important;
  }
   .header-wrapper #logo .header-logo{
    display: block !important;
   }
    .header-wrapper .mobile-nav li a{
        color: black !important
    }
    .header.has-transparent{
        position: relative !important; 
    }
}
@media(min-width: 992px) and (max-width: 1199px){

    .text-dau i{
        margin-left: 10px;
    }
    .text-dau p,.text-dau h1{
        text-align: center !important;
    }
}
@media(min-width: 1199px){
    .section-banner .text-dau .p-left{
        float: left
    }
     .section-banner .text-dau .p-right{
        text-align: right;
     }
        .section-banner .text-dau h1{
            font-size: 500%;
        }
}

@media(min-width: 1023px){

    .row-duoi-banner{
        margin-top: -84px !important;

    }
    .row-duoi-banner .icon-box-text p{
        color: white;
    }
    .section-form-home .form-lien-he{
        text-align: center;
    padding: 10px 50px;
    }

    .single-featu#2980b9_item img.mfp-img{
    border-radius: 7px;
    border: 10px solid gainsboro;
    height: 700px   
    }
.mfp-counter {
  
    right: 15px;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}
}
@media(min-width: 1025px){
          .text-chu-doc .chu-trai p {
        text-transform: uppercase;
      }
      .text-chu-doc .chu-trai-db p{
        margin-bottom: 24px !important;
      }
      .text-chu-doc .chu-trai p{
        margin-bottom: 0px;
      }
    .text-chu-doc .chu-trai{
 

 top: 24px;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: -49px;
    }
   
}